@import url("https://fonts.googleapis.com/css?family=Eagle+Lake:regular&display=swap");

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: regular;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.heading {
  text-align: center;
  padding: 15px 15px;
}

/* section_01 */

.section_01 {
  padding: 15px 15px;
}

.expanding_cards_wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vw;
  border-radius: 50px;
  flex: 0.5;
  position: relative;
  transition: flex 500ms ease-in;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  max-height: 600px;
  overflow: hidden;

}

.panel h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 300ms ease-in 300ms;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

/* section_02 */

.section_02 {
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.ripple_effect {}

.ripple-btn {
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 30px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 10px #485460;
}

.repple-btn1 {
  background-color: #1e272e;
  border: 1px solid #a5b1c2;
  transition: background-color 200ms ease-in-out;
}

.repple-btn1:hover {
  background-color: #281e2e;
}

.repple-btn2 {
  background-color: #ffa801;
  border: 1px solid #d2dae2;
  transition: background-color 200ms ease-in-out;
}

.repple-btn2:hover {
  background-color: #ff9101;
}

.repple-btn1 .circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: animation 0.7s ease-out;
}

.repple-btn2 .circle {
  position: absolute;
  background-color: #485460;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: animation 0.7s ease-out;
}

@keyframes animation {
  to {
    transform: translate(-50%, -50%)scale(3);
    opacity: 0;
  }
}